
@{
    Layout = "~/Views/Home/Principal.cshtml";
}
@using Sigame.Models;
<div class="tabpane">
    <ul class="menu">
        <li class="active">..:: TIPOS DE TRANSPORTE ::..</li>
        <li>..:: MEDIOS DE TRANSPORTE ::..</li>
    </ul>
    <div class="clear"></div>
    <div class="border-bottom"></div>
    <div class="tab active">
        <div class="fila fila-80">
            <div class="columna columna-30">
                <form name="tipos" method="post" enctype="multipart/form-data" autocomplete="off">
                    <div class="columna columna-100">
                        <div class="columna columna-100 notificaciont"></div>
                    </div>
                    <div class="fila fila-100">
                        <div class="columna columna-100" style="text-align:center;">
                            <fieldset>
                                <legend>CARGAR MARCADOR</legend>
                                <div>
                                    <img src="/Uploads/Markers/marker_000000000.png" style="width: 40px; height: 50px;" />
                                    <div class="personaliza" style="margin: auto;">
                                        <input type="file" name="marcador" accept=".png" onchange="imagen(event, this, '/Uploads/Markers/marker_000000000.png')" class="fichero-entrada" />
                                        Examinar
                                        <div class="archivo">...</div>
                                    </div>
                                </div><br/>
                            </fieldset>
                        </div>
                        <div class="columna columna-100">
                            <label>Tipo de transporte</label>
                            <input type="text" name="tipo" class="input icono-transporte" autofocus placeholder="Tipo de transporte" />
                        </div>
                    </div>
                    <div class="fila fila-100">
                        <div class="columna columna-100" style="margin-top: 15px; text-align: right;">
                            <input type="submit" value="Guardar" class="boton" style="padding-left: 10px; padding-right: 10px;" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="columna columna-70">
                <div class="head">
                    <table class="tabla">
                        <caption>
                            <div class="fila fila-100">
                                <div class="columna columna-60" style="float:right;">
                                    <input type="text" class="input icono-buscador" onkeyup="buscar(this.value.toLowerCase(),'tabla-tipos');" placeholder="Buscar" />
                                </div>
                            </div>
                        </caption>
                        <thead>
                            <tr>
                                <th class="columna-10">N.P</th>
                                <th class="columna-60">Tipo de transporte</th>
                                <th class="columna-10">Marcador</th>
                                <th class="columna-10">Estado</th>
                                <th class="columna-10">Acción</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="lower" style="max-height: 53vh;">
                    <table class="tabla" id="tabla-tipos">
                        <tbody>
                            @{
                                if (ViewData["listaTiposTransporte"] != null)
                                {
                                    List<MTipoTransporte> lista = (ViewData["listaTiposTransporte"]) as List<MTipoTransporte>;
                                    if (lista.Count() > 0)
                                    {
                                        foreach (var fila in lista)
                                        {
                                            <tr>
                                                <td class="columna-10">@fila.TipoTransporteId</td>
                                                <td class="columna-60">@fila.Tipo</td>
                                                <td class="columna-10">
                                                    <img src="~/Uploads/Markers/@fila.Imagen" width="30px" height="30px" />
                                                </td>
                                                <td class="columna-10">
                                                    <label class="switch">
                                                        @{
                                                            if (fila.EstadoTipoTransporte == false)
                                                            {
                                                                <input type="checkbox" data-estado="/administrador/estadotipotransporte?tipotransporteid=@fila.TipoTransporteId" />
                                                            }
                                                            else
                                                            {
                                                                <input type="checkbox" data-estado="/administrador/estadotipotransporte?tipotransporteid=@fila.TipoTransporteId" checked />
                                                            }
                                                        }
                                                        <span class="slider round"></span>
                                                    </label>
                                                </td>
                                                <td class="columna-10">
                                                    <a data-href="/administrador/tipo?tipoid=@fila.TipoTransporteId" class="link editar">Editar</a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="5"><center><h3>No hay registros para mostrar</h3></center></td>
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="tab">
        <div class="fila fila-100">
            <div class="columna columna-100">
                <form name="transporte" method="post" autocomplete="off">
                    <div class="fila fila-100">
                        <div class="columna columna-100 notificaciontr"></div>
                        <div class="columna columna-25">
                            <label>Tipo de Transporte</label>
                            <select name="tipotransporteid" class="input icono-seleccionar">
                                <option value="">SELECCIONAR</option>
                                @{
                                    if (ViewData["listaTipos"] != null)
                                    {
                                        foreach (var fila in ViewData["listaTipos"] as List<MTipoTransporte>)
                                        {
                                            <option value="@fila.TipoTransporteId">@fila.Tipo</option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                        <div class="columna columna-25">
                            <label>Marca</label>
                            <input type="text" name="marca" class="input icono-transporte" placeholder="Marca" />
                        </div>
                        <div class="columna columna-30">
                            <label>Modelo</label>
                            <input type="text" name="modelo" class="input icono-transporte" placeholder="Modelo" />
                        </div>
                        <div class="columna columna-20">
                            <label>Placas</label>
                            <input type="text" name="placa" class="input icono-transporte" placeholder="Placas" />
                        </div>
                    </div>
                    <div class="fila fila-100">
                        <div class="columna columna-25">
                            <label>Año</label>
                            <input type="text" name="anio" class="input icono-transporte" placeholder="Año" />
                        </div>
                        <div class="columna columna-25">
                            <label>N° de Póliza</label>
                            <input type="text" name="poliza" class="input icono-transporte" placeholder="N° de póliza" />
                        </div>
                        <div class="columna columna-25">
                            <label>Vigencia</label>
                            <input type="date" name="vigencia" class="input icono-calendario" placeholder="Vigencia" />
                        </div>
                        <div class="columna columna-25" style="margin-top: 15px; text-align: right;">
                            <input type="submit" value="Guardar" class="boton" style="padding-left: 10px; padding-right: 10px;" />
                        </div>
                    </div>
                </form>
                <div class="head">
                    <table class="tabla">
                        <caption>
                            <div class="fila fila-100">
                                <div class="columna columna-30" style="float:right;">
                                    <input type="text" class="input icono-buscador" onkeyup="buscar(this.value.toLowerCase(),'tabla-transportes');" placeholder="Buscar" />
                                </div>
                            </div>
                        </caption>
                        <thead>
                            <tr>
                                <th class="columna-5">N.P</th>
                                <th class="columna-10">Tipo de transporte</th>
                                <th class="columna-10">Marca</th>
                                <th class="columna-10">Placas</th>
                                <th class="columna-5">Año</th>
                                <th class="columna-15">Modelo</th>
                                <th class="columna-10">Fecha</th>
                                <th class="columna-10">Póliza</th>
                                <th class="columna-5">Vigencia</th>
                                <th class="columna-10">Disponibilidad</th>
                                <th class="columna-5">Estado</th>
                                <th class="columna-5">Acción</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="lower" style="max-height: 30vh;">
                    <table class="tabla" id="tabla-transportes">
                        <tbody>
                            @{
                                if (ViewData["listaTransportes"] != null)
                                {
                                    List<MTransporte> lista = (ViewData["listaTransportes"]) as List<MTransporte>;
                                    if (lista.Count() > 0)
                                    {
                                        foreach (var fila in lista)
                                        {
                                            <tr>
                                                <td class="columna-5">@fila.TransporteId</td>
                                                <td class="columna-10">@fila.Tipo</td>
                                                <td class="columna-10">@fila.Marca</td>
                                                <td class="columna-10">@fila.Placa</td>
                                                <td class="columna-5">@fila.Anio</td>
                                                <td class="columna-15">@fila.Modelo</td>
                                                <td class="columna-10">@fila.Fecha</td>
                                                <td class="columna-10">@fila.Poliza</td>
                                                <td class="columna-5">@fila.Vigencia</td>
                                                <td class="columna-10">@fila.Disponibilidad</td>
                                                <td class="columna-5">
                                                    <label class="switch">
                                                        @{
                                                            if (fila.EstadoTransporte == false)
                                                            {
                                                                <input type="checkbox" data-estado="/administrador/estadotransporte?transporteid=@fila.TransporteId" />
                                                            }
                                                            else
                                                            {
                                                                <input type="checkbox" data-estado="/administrador/estadotransporte?transporteid=@fila.TransporteId" checked />
                                                            }
                                                        }
                                                        <span class="slider round"></span>
                                                    </label>
                                                </td>
                                                <td class="columna-5">
                                                    <a data-href="/administrador/transporte?transporteid=@fila.TransporteId" class="link editar">Editar</a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="9"><center><h3>No hay registros para mostrar</h3></center></td>
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("[name=tipos]").jqxValidator({
            hintType: "label",
            animationDuration: 0,
            rules: [
                {
                    input: "[name=tipo]",
                    message: "Este campo es requerido!",
                    action: "keyup, blur",
                    rule: "required"
                },
                {
                    input: "[name=marcador]",
                    message: "Este campo es requerido!",
                    action: "change",
                    rule: function () {
                        return $("[name=marcador]").val() !== "" ? true : false;
                    }
                }
            ]
        });
        $("[name=tipos]").on("submit", function () {
            $(this).jqxValidator("validate");
            return false;
        });
        $("[name=tipos]").on("validationSuccess", function (event) {
            $.ajax({
                url: "/administrador/nuevotipotransporte",
                type: "post",
                data: new FormData($(this)[0]),
                async: false,
                dataType: "json",
                contentType: false,
                processData: false,
                beforeSend: function (xhr) {
                    $(".modal").jqwLoader("open");
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $(".notificaciont").jqwNotificacion("error", jqXHR.responseText);
                },
                success: function (data, textStatus, jqXHR) {
                    setTimeout(function () {
                        if (data.accion === "Done") {
                            setTimeout(function () {
                                window.location.reload();
                            }, 500);
                            $(".notificaciont").jqwNotificacion("exitoso", data.respuesta);
                        } else {
                            $(".notificaciont").jqwNotificacion("error", data.respuesta);
                        }
                    }, 200);
                },
                complete: function (data, textStatus, jqXHR) {
                    setTimeout(function () {
                        $(".modal").jqwLoader("close");
                    }, 200);
                }
            });
        });
        $("[name=transporte]").jqxValidator({
            hintType: "label",
            animationDuration: 0,
            rules: [
                {
                    input: "[name=placa]",
                    message: "Este campo es requerido!",
                    action: "keyup, blur",
                    rule: "required"
                },
                {
                    input: "[name=marca]",
                    message: "Este campo es requerido!",
                    action: "keyup, blur",
                    rule: "required"
                },
                {
                    input: "[name=poliza]",
                    message: "Este campo es requerido!",
                    action: "keyup, blur",
                    rule: "required"
                },
                {
                    input: "[name=modelo]",
                    message: "Este campo es requerido!",
                    action: "keyup, blur",
                    rule: "required"
                },
                {
                    input: "[name=anio]",
                    message: "Este campo es requerido!",
                    action: "keyup, blur",
                    rule: "required"
                },
                {
                    input: "[name=vigencia]",
                    message: "Este campo es requerido!",
                    action: "change",
                    rule: function () {
                        return $("[name=vigencia]").val() != "" ? true : false;
                    }
                },
                {
                    input: "[name=tipotransporteid]",
                    message: "Este campo es requerido!",
                    action: "change",
                    rule: function () {
                        return $("[name=tipotransporteid]").val() != "" ? true : false;
                    }
                }
            ]
        });
        $("[name=transporte]").on("submit", function () {
            $(this).jqxValidator("validate");
            return false;
        });
        $("[name=transporte]").on("validationSuccess", function (event) {
            $.ajax({
                url: "/administrador/nuevotransporte",
                type: "post",
                data: {
                    placa: $("[name=placa]").val(),
                    marca: $("[name=marca]").val(),
                    modelo: $("[name=modelo]").val(),
                    anio: $("[name=anio]").val(),
                    tipotransporteid: $("[name=tipotransporteid]").val(),
                    poliza: $("[name=poliza]").val(),
                    vigencia: $("[name=vigencia]").val()
                },
                async: false,
                dataType: "json",
                beforeSend: function (xhr) {
                    $(".modal").jqwLoader("open");
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $(".notificaciontr").jqwNotificacion("error", jqXHR.responseText);
                },
                success: function (data, textStatus, jqXHR) {
                    setTimeout(function () {
                        if (data.accion === "Done") {
                            setTimeout(function () {
                                window.location.reload();
                            }, 500);
                            $(".notificaciontr").jqwNotificacion("exitoso", data.respuesta);
                        } else {
                            $(".notificaciontr").jqwNotificacion("error", data.respuesta);
                        }
                    }, 200);
                },
                complete: function (data, textStatus, jqXHR) {
                    setTimeout(function () {
                        $(".modal").jqwLoader("close");
                    }, 200);
                }
            });
        });
    })
</script>

